@font-face {
  font-family: 'din 1451';
  src: url('../fonts/din1451.ttf');
}
@font-face {
  font-family: 'baskerville';
  src: url('../fonts/baskerville.ttf');
}
::selection {
  background-color: rgba(51, 153, 204, 1);
  color: #ffffff;
}
::-moz-selection {
  background-color: rgba(51, 153, 204, 1);
  color: #ffffff;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* Nav */
ul {
  padding: 0;
}
.nav {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  z-index: 999;
}
.nav ul {
  font-family: 'din 1451', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #111111;
  list-style: none;
  margin-bottom: 0;
  text-align: center;
}
.nav ul li {
  padding: 15px 20px;
  display: inline-block;
  position: relative;
}
.nav ul li a {
  color: #111111;
  text-decoration: none;
  transition: 0.160s ease-in-out;
}
.nav ul li a:after {
  content: '';
  display: block;
  height: 2px;
  margin: auto;
  width: 0%;
  background-color: #3399cc;
  transition: 0.160s ease-in-out;
}
.nav ul li a:hover:after {
  width: 100%;
}
@media (max-width: 400px) {
  .nav ul {
    font-size: 14px;
  }
}
/* Content */
.container {
  padding-top: 120px;
}
.logo {
  height: 64px;
  width: 64px;
  margin: 0 auto 10px auto;
}
h1 {
  font-family: 'din 1451', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  line-height: 1;
  margin: 0;
}
h2 {
  font-family: 'baskerville', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  line-height: 1;
  margin: 0;
}
.section-content {
  margin-top: 20px;
  margin-bottom: 80px;
}
p {
  font-family: 'baskerville', sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 1.4;
  text-align: justify;
  margin: 0;
  word-wrap: normal;
}
@media (max-width: 767px) {
  .portrait {
    margin-top: 20px;
  }
}
.project {
  height: 260px;
  max-height: 260px;
  width: 100%;
  max-width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 30px;
}
a.project {
  text-decoration: none;
  color: #ffffff;
}
.project-logo {
  position: absolute;
  margin: auto;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
}
.project-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #3399cc;
  overflow: hidden;
  transition: 0.160s ease-in-out;
  z-index: 500;
  transform: translateY(-260px);
}
.project:hover > .project-background{
  transform: translateY(0px);;
}
/* Individual projects */
.project--test-large {
  background-image: url('../img/1.jpg');
}
.project--test-small {
  background-image: url('../img/2.jpg');
}
/* /Individual projects */
.project-details {
  margin-left: 0;
  margin-right: 0;
}
.project-title {
  font-family: 'din 1451', sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.project-summary {
  font-family: 'baskerville', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  margin-top: 5px;
}
.project-link {
  font-family: 'din 1451', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 10px;
  margin-top: 15px;
}
.contact-text {
  width: 100%;
  font-family: 'baskerville', sans-serif;
  font-size: 16px;
  color: #111111;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  word-wrap: normal;
  padding: 11px 10px;
  border: 1px solid #111111;
}
@media (max-width: 767px) {
  .contact-text {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .contact-text {
    font-size: 10px;
  }
}
.copy-button {
  width: 100%;
  font-family: 'din 1451', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #111111;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  word-wrap: normal;
  padding: 11px 10px;
  outline: none;
  border: 0;
}
.live-link {
  background-color: #3399cc;
  font-family: 'din 1451', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.source-link {
  background-color: #7766cc;
  font-family: 'din 1451', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .live-link {
    margin-top: 20px;
  }
}
